.about__container {
    display: grid;
    grid-template-columns: 25% 40%;
    gap: 15%;
    justify-content: center;
    overflow: hidden;
}
.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg,transparent, var(--color-primary-variant),transparent);
    display: grid;
    place-items: center;
    overflow: hidden;

}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg) ;
    transition: var(--transition);
}
.about__me-image:hover {
    transform: rotate(0);
}

.about__cards {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.about__card {
    overflow: hidden;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition) ;
    
}
.about__card:hover {
    border-color: var(--color-aboutme);
    cursor: default;
}

.about__icon {
    color: var(--color-aboutme);
    font-size : 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.abouth5 {
    color: var(--color-aboutme);
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
margin : 2rem 0 2.6rem;
color: var(--color-bg-variant)
}

.letstalk2-btn {
    background-color: var(--color-aboutme) !important;
    border-color: var(--color-aboutme) !important;
}

.letstalk2-btn:hover {
    background: var(--color-white) !important;
    color: var(--color-bg) !important;
    border-color: transparent !important;
}

.trigart1 {
    background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    overflow: hidden;
    background-blend-mode:overlay;
    background-position-y: 31%;
}
.trigart2{
    background-image: url(https://images.unsplash.com/photo-1496115965489-21be7e6e59a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    overflow: hidden;
    background-blend-mode:overlay;
    background-position-x: center;
    background-position-y: 35%;
}
.trigart3 {
    background-image: url(https://images.unsplash.com/photo-1581472723648-909f4851d4ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fGRldmVsb3BtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    overflow: hidden;
    background-blend-mode:overlay;
    background-position-y: 35%;
    background-position-x: 35%;
}
/* ============= MEDIA QUERIES ( MEDIUM DEVICES) ========= */
@media screen and (max-width : 1024px){
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me {
        width: 50%;
        margin : 2rem auto 4rem;
    }
    .about__content p {
        margin : 1rem 0 1.5rem;
    }

}
    
    /* ============= MEDIA QUERIES ( SMALL DEVICES) ========= */
    @media screen and (max-width : 600px){
        .about__me {
            width: 65%;
            margin: 0 auto 3rem;
        }

        .about__cards {
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        .about__content {
            text-align: center;

        }
        .about__content p {
            margin: 1.5rem 0;
        }
    }